@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
}

:focus {
    outline: none;
}

ul {
    list-style: none;
}


/*********************************top-link-button-start******************************************/

#top-link-block {
    position: absolute;
    bottom: -82px;
    right: 10px;
}

#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    right: 10px;
    z-index: 2;
}

#top-link-block a {
    font-size: 18px;
    padding: 10px 10px;
    border-radius: 0;
    border: none;
    color: #fff;
    background: rgba(105, 105, 105, 0.178);
    display: block;
    transition: all ease .5s;
}

#top-link-block a:hover {
    background: rgb(240, 134, 47);
    opacity: 0.5;
}

.container {
    width: 1170px;
    margin: auto;
}

img {
    max-width: 100%;
}

section {
    width: 100%;
    float: left;
    overflow: hidden;
}

.btn-co {
    background-color: transparent;
    display: table;
    margin: auto;
    width: 220px;
    height: 40px;
    line-height: 40px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: 0.4s;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.btn-co::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    background: #09959f;
    width: 0;
    height: 100%;
    z-index: -1;
    transition: 0.3s;
}

.btn-co:hover:before {
    width: 100%
}


/* .btn-co:hover {
    background: #09959f;
    transition: 0.4s;
    color: #fff;
} */
.colo-gre{
    color: #09959f;
}
.overlap {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    display: none;
}

.btn-co.lef {
    display: inline-block;
    margin-top: 15px;
}

.main_bg_head {
    width: 100%;
    float: left;
    background: #2e2e36;
    padding-bottom: 50px;
}

header .company_logo {
    width: 185px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 0 0 0 20px;
}


/* side social media */

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}


/******************************header-start****************************/

/******************************header-start****************************/

header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
}

@keyframes headslide {
    0% {
        top: -75px;
    }

    100% {
        top: 0;
    }
}

header.fixed {
    position: fixed;
    background: #fff;
    box-shadow: 0 2px 4px #00000038;
    height: 75px;
    animation-name: headslide;
    animation-duration: .1s;
    z-index: 5;
}

.header-mar {
    width: 100%;
    float: left;
    height: 107px;
    background: #cccc;
}

.logo {
    float: left;
    margin-top: 30px;
}

.logo_text {

    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}

header.fixed .logo {
    margin-top: 10px;
}

.logo img {
    width: 200px;
}

header.fixed .logo img {
    width: 200px;
}

.logo-mob {
    display: none;
}

.mob-nav-btn {
    display: none;
}

nav {
    float: right;
}

nav ul.nav-ul {
    margin: 0;
    float: right;
}

nav ul.nav-ul>li {
    text-align: center;
    float: left;
    outline: none;
    position: relative;
    list-style: none;
}

nav ul.nav-ul>li>a {
    color: rgb(255, 255, 255);
    width: 100%;
    font-weight: 400;
    position: relative;
    padding: 20px 0 20px 40px;
    float: left;
    font-size: 16px;
}

header.fixed nav ul.nav-ul>li>a {
    color: #000;
    padding: 13px 15px;
    margin-top: 13px;
}

nav ul.nav-ul>li:first-child>a {
    padding-left: 0;
}

/* nav ul.nav-ul>li:last-child>a {
    background-color: #F8C300;
    border-radius: 4px;
    font-weight: 700;
    color: #000 !important;
    margin-left: 30px;
    border: 1px solid #F8C300;
    transition: .4s;
} */
/* nav ul.nav-ul>li:last-child>a:hover{
    border: 1px solid #0089F3;
    background-color: #0089F3;
    color: #fff !important;
} */

nav ul.nav-ul>li>a:focus {
    text-decoration: none;
    outline: none;
    color: #0085EC;
}

nav ul.nav-ul>li.active a, nav ul.nav-ul>li:hover>a, header.fixed nav ul.nav-ul>li.active>a, header.fixed nav ul.nav-ul>li:hover>a {
    text-decoration: none;
    outline: none;
    color: #0089F3;
}

nav ul.nav-ul ul {
    top: 100%;
    width: 200px;
    overflow: hidden;
    height: 0;
    text-align: left;
    list-style: none;
    position: absolute;
    background: #ed3237;
    left: 28px;
    transition: all ease .5s;
}

nav ul.nav-ul>li:hover ul {
    height: 135px;
}

nav ul.nav-ul ul li a {
    padding: 10px 10px;
    float: left;
    width: 100%;
    font-weight: 300;
    color: #fff;
    transition: all ease .25s;
}

nav ul.nav-ul ul li a:hover {
    background: #0077bd;
}

.banner{
    position: relative;
}
.banner .seo_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.banner .seo_text h1{
    font-size:60px;
    color: #fff;
}
.banner .seo_text span{
    display: block;
    color: #fff;
}
.banner .seo_text p{
    color: #fff;
}
.banner .btn-co{
    margin: 12px auto;
  
}
/* SERVICES */
.services{
    padding: 50px 0;
} 
.services ul{
    display: flex;
    flex-wrap: wrap;
}
.services ul li{
    width: 50%;
}
.services ul li 
/*********************medium-desktop screen***********************/

@media (min-width: 1600px) and (max-width: 1699px) {
    .banner::before {
        height: 207px;
        bottom: 93px;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        width: 920px;
    }
    
    .group_details .main-gr .left{
        width: 100%;
    text-align: center;
    }
    .group_details .main-gr .right{
        width: 100%;
    }
    .main_inner .swiper-button-next {
        right: 43.5%;
    }
    .main_inner .swiper-button-prev {
        left: 43.5%;
    }
   
}


/*******************************responsive-tab****************************/

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 740px;
    }
    .form-main .form-inn input{
        width: 100%;
    }
    .main_inner .right .form-main .form-inn .btn-co{
        width: 100%;
    }
    .main_inner .swiper-button-next {
        right: 42%;
    }
    .main_inner .swiper-button-prev {
        left: 42%;
    }
    .invisalign .main-in .left p{
        padding-right: 9px;
        font-size: 16px;
    }
    .invisalign .main-in .right ul li{
        font-size: 16px;
    }
    .about .main-d .right p{
        font-size: 14px;
        line-height: 27px;
    }
    .about .main-d .right{
        margin-left: 3%;
    }
    .group_details .main-gr .left{
        width: 100%;
    text-align: center;
    }
    .group_details .main-gr .right{
        width: 100%;
    }
    .reg-now h2{
        line-height: 43px;
        font-size: 28px;
    }
}


/**********************************responsive-small-screen********************************/


/*responsive-small-screen*/

@media (max-width:767px) {
    .header-mar {
        height: 89px;
    }
    .container {
        width: 90%;
        padding: 0;
    }

}